<div class="gf-demand" >
    <div class="layout">
        <h2 class="h2">I NEED TO BUILD WEBSITE</h2>
        <h3 class="h3">获取免费税筹方案</h3>
        <form action="#" method="post"
              onSubmit="return jianzhan()">
            <div class="write">
                <input class="text1" type="text" required name="name" placeholder="称呼姓名" value="">
                <input class="text2" type="number" max="11" min="11" required name="phone"
                       placeholder="联系电话" value="">
                <input class="text3" required type="text" name="content"
                       placeholder="企业名称" value="">
                <input type="hidden" name="pid"  value="1"/>
                <input class="submit" type="submit" value="领取免费税筹方案">
            </div>
        </form>
        <i class="italic">*请认真填写需求信息，24小时内会有业务经理和您联系。</i>
    </div>
</div>
<script>

</script>