<div id="head">
    <header>
        <div :class="{'header':'true','header-hover':scrollTag}">
            <div class="logo"><a href="/index.html">中源软件科技（广州）有限公司</a></div>
            <div class="nav">
                <ul>
                    <li :class="{'on':currentUrl=='index'}"><a href="/index.html">首页</a></li>
                    <li :class="{'on':currentUrl=='grfw.html'}"><a href="/grfw.html">个人服务</a></li>
                    <li :class="{'on':currentUrl=='qyfw.html'}"><a href="/qyfw.html">企业服务</a></li>
                    <li :class="{'on':currentUrl=='zx.html'}"><a href="/zx.html">新闻资讯</a></li>
                    <li :class="{'on':currentUrl=='contact.html'}"><a href="/contact.html">联系我们</a></li>
                </ul>
            </div>
            <div class="myPhone">服务热线:<b>020-32297009 / 13322813720</b></div>
            <div class="btn-m-list">
            </div>
        </div>
    </header>
</div>