<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>联系我们_中源软件科技（广州）有限公司</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="Bookmark" href="/images/favicon.ico"/>
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/css/gobal.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <style>
        .errPage {
            text-align: center;
        }
    </style>
</head>
<body>

<div id="warpper">

    <%- include component/header.ejs %>
    <section>
        <div class="contain errPage">
            <img src="http://image.xiaoxinseo.com/6502232d05ed697d2e7fc4a4f1865c90.png" alt="">
        </div>
    </section>

    <%- include component/footer.ejs %>


</div>

</body>
</html>