<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>个人服务--中源软件科技（广州）有限公司</title>
    <meta name="description"
          content="中源软件科技（广州）有限公司--一站式个税服务平台"/>
    <meta name="keywords" content="中源软件科技（广州）有限公司--一站式个税服务平台"/>
    <link rel="Bookmark" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="css/gobal.css"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link type="text/css" rel="stylesheet" href="css/animate.min.css"/>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
</head>
<body>

<div id="warpper">

    <%- include component/header.ejs %>


    <section>
        <div class="contain">
            <div class="nybanner" style="background-image:url( http://image.xiaoxinseo.com/images/2018011711212034.jpg);">

                <div class="ny-title">
                    <h2 class="wow bounceInDown"><img src="images/zyzz-top.png"/></h2>
                    <h3 class="wow fadeInUp"><img src="images/zyzz-bot.png"/></h3></div>
            </div>
            <div class="navigation">
                <div class="layout">
                    <a class="home" href="index.html">首页</a>
                    <em>></em>
                    <a class="on" href="grfw.html">个人服务</a>
                </div>
            </div>
            <div class="ser-box01">
                <div class="layout">
                    <div class="index-title">
                        <span>适用人群</span>
                        中,低收入自由职业者
                    </div>
                    <div class="index-ser">
                        <ul class="clearfix">
                            <li class="grfw-item">
                                <div class="item"><a
                                            href="#">
                                        <i style="background-image:url(images/12.jpg);" class="co"></i>
                                        <h2>有限合伙企业</h2>
                                        <span>适用人群：投资、基金、股东、权益性收益</span>
                                    </a></div>
                            </li>
                            <li class="grfw-item">
                                <div class="item"><a
                                            href="#wpa.qq.com/msgrd?v=3&amp;uin=980732589&amp;site=qq&amp;menu=yes">
                                        <i style="background-image:url(images/13.jpg);" class="co"></i>
                                        <h2>财政扶持型工作室</h2>
                                        <span>适用人群：高收入人群、行业专家、头号主播、网红、达人</span>
                                    </a></div>
                            </li>
                            <li class="grfw-item">
                                <div class="item"><a
                                            href="#wpa.qq.com/msgrd?v=3&amp;uin=980732589&amp;site=qq&amp;menu=yes">
                                        <i style="background-image:url(images/14.jpg)" class="co"></i>
                                        <h2>超高收入型工作室</h2>
                                        <span>适用人群：中高收入人群、行业专家、自由职业者</span>
                                    </a></div>
                            </li>
                            <li class="grfw-item">
                                <div class="item"><a
                                            href="#wpa.qq.com/msgrd?v=3&amp;uin=980732589&amp;site=qq&amp;menu=yes">
                                        <i style="background-image:url('images/15.jpg');" class="co"></i>
                                        <h2>中低收入型工作室</h2>
                                        <span>适用人群：中低收入人群、自由职业者、电商从业者、共享经济\分享经济从业者</span>
                                    </a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="ser-box03">
                <div class="layout">
                    <div class="index-title wow fadeInUp" data-wow-delay="0.0s">
                        <span>产品/方案</span>
                        独立自主研发、专业技术支撑！
                    </div>
                    <div class="index-case">
                        <ul class="clearfix">
                            <li class="wow fadeInUp" data-wow-delay="0.0s">
                                <div class="pic">
                                    <img src="images/grfw-1.png"/>
                                </div>
                                <a href="#" title="智能供应链管理系统">
                                    <h2 class="h2">
                                        <span>智能业务管理系统</span>
                                        <i></i>
                                    </h2>
                                </a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="0.0s">
                                <div class="pic">
                                    <img src="images/grfw-2.png"/>
                                </div>
                                <a href="#" title="API深度开发，安全稳定">
                                    <h2 class="h2">
                                        <span>API深度开发，安全稳定</span>
                                        <i></i>
                                    </h2>
                                </a>
                            </li>
                            <li class="wow fadeInUp" data-wow-delay="0.0s">
                                <div class="pic">
                                    <img src="images/grfw-3.png"/>
                                </div>
                                <a href="#" title="SAAS系统,公司自主研发">
                                    <h2 class="h2">
                                        <span>SAAS系统,公司自主研发</span>
                                        <i></i>
                                    </h2>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <%- include component/kh.ejs %>

            <div class="gf-demand">
                <div class="layout">
                    <h2 class="h2">I NEED TO BUILD WEBSITE</h2>
                    <h3 class="h3">获取免费税筹方案</h3>
                    <form action="#" method="post"
                          onSubmit="return jianzhan()">
                        <div class="write">
                            <input class="text1" type="text" id="name" name="name" placeholder="称呼姓名" value="">
                            <input class="text2" type="text" id="phone" name="phone" placeholder="联系电话" value="">
                            <input class="text3" type="text" id="content" name="content"
                                   placeholder="企业名称" value="">
                            <input type="hidden" name="pid" value="1"/>
                            <input class="submit" type="submit" value="领取免费税筹方案">
                        </div>
                    </form>
                    <i class="italic">*请认真填写需求信息，我们会在24小时内与您取得联系。</i>
                </div>
            </div>
            <script>
                function jianzhan() {
                    var name = $('#name').val();
                    var phone = $('#phone').val();
                    var content = $('#content').val();
                    var msg = '';
                    if (name == '') {
                        msg += '请输入您的称呼！\n';
                    }
                    if (phone == '') {
                        msg += '请输入您的联系电话！\n';
                    }
                    if (content == '') {
                        msg += '请描述您的需求！\n';
                    }
                    if (msg) {
                        alert(msg);
                        return false;
                    }
                    return true;
                }
            </script>
        </div>
    </section>
    <!--    foot-->
    <%- include component/footer.ejs %>


</div>
<script src="/js/head.js"></script>
<script>

</script>
</body>
</html>