<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>企业服务_中源软件科技（广州）有限公司</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="Bookmark" href="images/favicon.ico"/>
    <link rel="shortcut icon" href="images/favicon.ico"/>

    <link type="text/css" rel="stylesheet" href="css/gobal.css"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <link type="text/css" rel="stylesheet" href="css/animate.min.css"/>

    <script type="text/javascript" src="js/wow.min.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
</head>
<body>

<div id="warpper">

    <%- include component/header.ejs %>

    <section>
        <div class="contain">
            <div class="nybanner" style="background-image:url( http://image.xiaoxinseo.com/images/201801171121126e.jpg);">

                <div class="ny-title">
                    <h2 class="wow bounceInDown"><img src="images/qiye-t.png"/></h2>
                    <h3 class="wow fadeInUp"><img src="images/qiye-b.png"/></h3></div>
            </div>
            <div class="navigation">
                <div class="layout">
                    <a class="home" href="index.html">首页</a>
                    <em>></em>
                    <a class="on" href="qyfw.html#">企业服务</a>
                </div>
            </div>
            <!--企业存在的问题-->
            <div class="section01 qyfw-wt">
                <div class="layout">
                    <div class="index-title wow fadeInUp" data-wow-delay="0.0s">
                        <span>90%的企业都存在这些问题</span>
                    </div>
                    <div class="index-ser">
                        <ul class="clearfix">
                            <li>
                                <div class="item wow fadeInUp" data-wow-delay="0.2s"><a href="javascript:void(0)">
                                        <i style="background-image:url('images/qyfw-1.jpg');" class="co"></i>
                                        <h2>税金交的太多</h2>
                                        <span>25%企业所得税+20%分红个税</span>
                                    </a></div>
                            </li>
                            <li>
                                <div class="item wow fadeInUp" data-wow-delay="0.4s"><a href="javascript:void(0)">
                                        <i style="background-image:url('images/qyfw-2.jpg');" class="co"></i>
                                        <h2>税务风险大</h2>
                                        <span>虚假发票，虚增人头，四流不合一</span>
                                    </a></div>
                            </li>
                            <li>
                                <div class="item wow fadeInUp" data-wow-delay="0.6s"><a href="javascript:void(0)">
                                        <i style="background-image:url('images/qyfw-3.jpg');" class="co"></i>
                                        <h2>用人成本高</h2>
                                        <span>税务征收社保，全额缴纳社保费</span>
                                    </a></div>
                            </li>
                            <li>
                                <div class="item wow fadeInUp" data-wow-delay="0.8s"><a href="javascript:void(0)">
                                        <i style="background-image:url('images/qyfw-4.jpg');" class="co"></i>
                                        <h2>员工工资低</h2>
                                        <span>高薪员工个税高，到手工资低</span>
                                    </a></div>
                            </li>
                            <li>
                                <div class="item wow fadeInUp" data-wow-delay="0.8s"><a href="javascript:void(0)">
                                        <i style="background-image:url('images/qyfw-5.jpg');" class="co"></i>
                                        <h2>财税开销大</h2>
                                        <span>记账代理费，税筹外包费</span>
                                    </a></div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!--            数据-->
            <div class="navigation">
                <div class="layout">
                    <div class="index-title wow fadeInUp" data-wow-delay="0.0s">
                        <span>企保盈用效果说话</span>
                    </div>
                </div>
            </div>
            <div class="section06 qyfw-xg">
                <div class="layout">
                    <div class="xiaoguoImg wow fadeInUp">
                        <img src="./images/qifw-xg.jpeg" alt="">
                    </div>
                </div>
            </div>
            <!--            选择我们的理由-->
            <div class="ser-box01 qyfw-ly">
                <div class="layout">
                    <div class="index-title">
                        <span>选择我们的理由</span>
                    </div>
                    <div class="index-ser">
                        <ul class="clearfix">
                            <li>
                                <div class="item"><a
                                            href="#">
                                        <i style="background-image:url('images/ly-1.png');" class="co"></i>
                                        <h2>专业的团队</h2>
                                        <span>10年品牌信誉保障，15年税务筹划经验</span>
                                    </a></div>
                            </li>
                            <li>
                                <div class="item"><a
                                            href="#">
                                        <i style="background-image:url('./images/ly-2.png');" class="co"></i>
                                        <h2>价格透明</h2>
                                        <span>服务透明，合理合法，无隐形消费</span>
                                    </a></div>
                            </li>
                            <li>
                                <div class="item"><a
                                            href="#">
                                        <i style="background-image:url('./images/ly-3.png');" class="co"></i>
                                        <h2>一站式管理</h2>
                                        <span><span>全流程管理，企业无需配备其他人员</span></span>
                                    </a></div>
                            </li>
                            <li>
                                <div class="item"><a
                                            href="#">
                                        <i style="background-image:url('./images/ly-4.png');" class="co"></i>
                                        <h2>政府支持</h2>
                                        <span><span>100多个政府合作园区，实时查询，实时反馈</span></span>
                                    </a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="section07">
                <div class="layout">
                    <div class="index-title">
                        <span>我们的实力</span>
                    </div>
                    <div class="qyfw-sl wow fadeInUp">
                        <img src="./images/qyfw-sl.jpg" alt="">
                    </div>
                </div>
            </div>

            <%- include component/kh.ejs %>

            <div class="gf-demand">
                <div class="layout">
                    <h2 class="h2">I NEED TO BUILD WEBSITE</h2>
                    <h3 class="h3">获取免费税筹方案</h3>
                    <form action="#" method="post">
                        <div class="write">
                            <input class="text1" type="text" id="name" name="name" required placeholder="称呼姓名" value="">
                            <input class="text2" type="text" id="phone" name="phone" required placeholder="联系电话"
                                   value="">
                            <input class="text3" type="text" id="content" name="content"
                                   placeholder="企业名称" value="">
                            <input type="hidden" name="pid" value="1"/>
                            <input class="submit" type="submit" value="领取免费税筹方案">
                        </div>
                    </form>
                    <i class="italic">*请认真填写需求信息，我们会在24小时内与您取得联系。</i>
                </div>
            </div>


        </div>
    </section>
    <!--    foot-->
    <%- include component/footer.ejs %>
    <script type="text/javascript" src="/js/vue.min.js"></script>
    <script src="/js/head.js"></script>

</div>

</body>
</html>